<div class="container main">
    <div class="row">
        <div class="col-sm-6">
           <img src="../assets/greenbook.jpg" alt="" class="img-responsive center-block">
           <h2>{{childArticleList[0].title}}</h2>
        </div>
        <div class="row col-sm-6">
            <div class="col-xs-6">
              <img src="../assets/memoriam.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-xs-6">
              <img src="../assets/highlights.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-xs-6">
              <img src="../assets/ladygaga.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-xs-6">
              <img src="../assets/angelabasset.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>