/* You can add global styles to this file, and also import other style files */
/*Request Form*/
.RequestForm {
  align-content: left;
}
.RequestForm h2 {
    background-color: goldenrod;
    color: black;
    text-align: center;
    margin: 0px;
    text-transform: capitalize;
    padding: 50px 0px;
    font-weight: 400;
  }
  .RequestForm .Forms {
    padding: 20px 15px 30px;
  }
  .RequestForm .Forms form {
    box-shadow: 0px 1px 3px #ddd;
    padding: 0px 40px 50px;
  }
  .RequestForm .Forms form .form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #efefef;
    background-color: transparent;
    box-shadow: none;
    height: 40px;
  }
  .RequestForm .Forms form textarea.form-control {
    height: auto;
    /* resize: none; */
  }
  .RequestForm .Forms form button {
    border: none;
    background-color: goldenrod;
    color: black;
    text-align: center;
    width: 100%;
    padding: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: none;
    outline: 0;
  }
  .RequestForm .Forms form button:hover {
    background-color: #232323;
    color: #fff;
  }
  .RequestForm .Forms form .form-control::-moz-placeholder {
    color: #c7c7c7;
    opacity: 1
  }
  .RequestForm .Forms form .form-control:-ms-input-placeholder {
    color: #c7c7c7
  }
  .RequestForm .Forms form .form-control::-webkit-input-placeholder {
    color: #c7c7c7
  }

  