<div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li *ngFor="let winner of oscars | async" (click)="goToDetailPage(winner)">
						<time datetime="2014-07-20">
							<span class="day">{{winner.oscarYear | date: 'd'}}</span>
							<span class="month">{{winner.oscarYear | date: 'MMM'}}</span>
							<span class="year">{{winner.oscarYear | date: 'yyyy'}}</span>              
						</time>
            <img src= {{winner.image}}>
						<div class="info">
              <h2 class="title">{{winner.category}}</h2>
              <h4 class="winner">{{winner.name}}</h4>
							<p class="desc">{{winner.movie}}</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
